h1 {
  font-size: 30px;
  padding: 10px;
  text-align: center;
  text-decoration: double;
}
div {
  margin: 30px;
  font-size: 20px;
}
.p11 {
  color: brown;
  text-decoration: underline;
  font-style: ;
}

@media (min-width: 1024px) {
  section.section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: "img1 txt1" "txt2 img2";
  }
  section.section3 div.article1 .imagearticle1 {
    grid-area: img1;
    justify-self: center;
  }
  div.article1 .article1 {
    grid-area: txt1;
    justify-self: center;
  }
  .imagearticle2 {
    grid-area: img2;
    justify-self: center;
  }
  .article1 {
    grid-area: 1;
    justify-self: center;
  }

  .article1 {
    grid-column: 2;
    position: relative;
    width: 350px;
    height: 300px;
    grid-column: 1/2;
  }

  .article2 {
    grid-column: 2;
    position: relative;
    width: 350px;
    height: 300px;
    grid-column: 2/2;
  }

  .cadre {
    border: 4mm ridge rgba(171, 169, 172, 0.6);
  }

  .imagearticle1 {
    width: 300px;
    height: 250px;
  }

  .imagearticle2 {
    width: 300px;
    height: 250px;
  }
}

.article1 {
  width: 350px;
  height: 300px;
}
.article2 {
  width: 350px;
  height: 300px;
}

.imagearticle1 {
  width: 300px;
  height: 250px;
}

.imagearticle2 {
  width: 300px;
  height: 250px;
}

.cadre {
  border: 4mm ridge rgba(171, 169, 172, 0.6);
}

h2 {
  font-family: "Nike TG";
  font-style: normal;
  font-weight: 400;
}
