h1 {
  font-weight: bold;
  font-size  : 30px;
  line-height: 150%;
  font-family: Helvetica, Arial, sans-serif;
}
input[type=submit]{
  background-color:black;
  color: white
 }
 input[type=submit]:hover, input[type=reset]:hover {
  background-color:#FCDEDE;
  color: black
  }
 input[type=submit]:active, input[type=reset]:active {
  box-shadow:2px 2px 2px rgb(0, 0, 0) inset;
 }
 input[type=name]{
  border: 1px solid #000000  ;
  margin-top: 10px;
 }
 input[type=email]{
  border: 1px solid #000000  ;
  margin-bottom: 10px;
 } 
 textarea[name=bio]{
  border: 1px solid #000000  ;
  margin-bottom: 10px;
 }
textarea {
  height: 100px;
  resize: none;
}
input, textarea {
  width: 300px;
  margin-top: 10px;
}
div-input{
 padding-block-start: 20em;
}
form div {
display: flex;
justify-content:center ;
}