* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-font: "Pacifico", cursive;
}
html {
  font-family: sans-serif;
}
.header-section-1 {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/img/dltnIv\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.main-header {
  text-align: center;
  transition: 0.5s;
}
.main-header:hover {
  -webkit-box-shadow: 2px -1px 8px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -1px 8px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 2px -1px 8px 8px rgba(0, 0, 0, 0.75);
}
.main-header h1 {
  font-size: 3.5rem;
  font-family: sans-serif;
  color: black;
  margin: 20px;
}
.main-header hr {
  width: 50%;
  margin: auto;
  padding: 5px;
  background: silver;
  border: none;
}
.main-header h3 {
  margin: 20px;
  color: black;
  font-size: 2rem;
}
.main-header input {
  width: 85%;
  padding: 1rem;
  margin: 20px 0px;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 1.5rem;
  background: transparent;
  outline: none;
}
.main-header button {
  padding: 1rem 3rem;
  font-size: 1.2rem;
  background: silver;
  color: aliceblue;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
  margin: 20px;
}
.main-header button:hover {
  transform: scale(1.2);
}

.login-h1 {
  text-transform: uppercase;
  font-family: sans-serif;
}

.login-a-create {
  color: black;
  text-decoration: none;
}

.login-a-create:hover {
  color: gray;
  text-decoration: none;
}
