@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,700i,900&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  background: url("../assets/img/13.png");
  background-repeat: no-repeat;
  background-size: 100vw;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

a,
li,
ul {
  outline: none;
  list-style: none;
  text-decoration: none;
}

a:hover {
  outline: none;
  list-style: none;
  text-decoration: none;
}

a:focus {
  outline: none;
  list-style: none;
  text-decoration: none;
}

span {
  outline: none;
  list-style: none;
  text-decoration: none;
}

span:hover {
  outline: none;
  list-style: none;
  text-decoration: none;
}

span:focus {
  outline: none;
  list-style: none;
  text-decoration: none;
}

button {
  text-decoration: none;
  list-style: none;
  outline: none;
}

button:hover {
  text-decoration: none;
  list-style: none;
  outline: none;
}

button:focus {
  text-decoration: none;
  list-style: none;
  outline: none;
}

/* Start */
/******************************** Navbar **************************************************/

.style-active {
  font-size: 18px;
  padding-bottom: 10px;
  font-family: 'Roboto',sans-serif;
  background-color :rgba(255,255,255, 1);
}

.header-nav {
  height: 98px;
}

.navigation {
  background-color: white;
  position: fixed;
  width: 100%;
  font-size: 18px;
  padding-bottom: 10px;
  font-family: 'Roboto',sans-serif;
}

.logo-nike {
  width: 88px;
  padding-top: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: black
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: black;
  font-size: 24px;
}

.active {
  display: block;
  padding: 0;
}

.fa-bars {
  font-size: 34px;
  padding-top: 10px;
}

.icon-shopping-basket {
  width: 30px;
}

.before-the-shoes {
  display: none;
}

.after-the-shoes {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
  }

  .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }

  .main-nav li {
      margin: 0;
  }

  .nav-links {
      margin-left: 40px;
  }

  .logo {
      margin-top: 0;
  }

  .navbar-toggle {
      display: none;
  }

  .logo:hover,
  .nav-links:hover {
      color: gray;
  }

  .icon-shopping-basket {
    width: 20px;
  }
}

/* End Navbar ************************************ */
/* 

/* section 1 */

.width {
  height: 100vh;
}

.div-of-the-shoes {
  display: flex;
  justify-content: center;
}

.picture-of-the-air-fly-max {
  max-width: 90%;
  height: auto;
}

.title-div-of-the-shoes {
  display: block;
}

.p-title-shoes {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.p-price-shoes {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.p-fly-shoes {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.div-of-the-button {
  display: flex;
  justify-content: center;
}

.button-add {
  background-color: rgb(0, 112, 187);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-add a {
  color: white;
}

.p-desc-main-page {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.a-desc-link {
  font-family: 'Roboto', sans-serif;
}

.div-a-mainpage {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .picture-of-the-air-fly-max {
    max-width: 70%;
    height: auto;
  }
}


@media screen and (min-width: 1250px) {
  /* display none */
  .title-div-of-the-shoes {
    display: none;
  }
  
  .p-title-shoes {
    display: none;
  }
  
  .p-price-shoes {
    display: none;
  }
  
  .p-fly-shoes {
    display: none;
  }
  
  .div-of-the-button {
    display: none;
  }
  
  .button-add {
    display: none;
  }
  
  .button-add a {
    display: none;
  }
  
  .p-desc-main-page {
    display: none;
  }
  
  .a-desc-link {
   display: none;
  }
  
  .div-a-mainpage {
   display: none;
  }

  .div-desc-mainpage {
    display: none;
  }
/* end display none */
  .section1 {
    display: flex;
    justify-content: space-around;
  }

  .before-the-shoes {
    width: 30%;
    display: flex;
  }

  .picture-of-the-air-fly-max {
    max-width: 100%;
    height: auto;
  }

  .after-the-shoes {
    width: 30%;
    display: flex;
  }

  .title-div-for-airmax {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: white;
  }

  .div-desc-for-the-shoes-mainpage {
    width: 100%;
    text-align: center;
    margin-top: 40%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
  }

  .price-shoes-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
  }

  .p-lets-fly {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
  }

  
  .div-desc-for-the-shoes-mainpage-right {
    width: 100%;
    text-align: center;
    margin-top: 40%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
  }

  .price-shoes-p-right {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
    color: black;
  }

  .p-lets-fly-right {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    color: black;
  }
}



