@font-face {
  font-family: "Nike Logo";
  src: url("./assets/font/FuturaExtraBoldCondensedOblique.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nike TG";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/font/nikeTG/257c802f-349c-4b4d-aefa-546d5de15ec6.eot),
    url(./assets/font/nikeTG/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix)
      format("embedded-opentype"),
    url(./assets/font/nikeTG/257c802f-349c-4b4d-aefa-546d5de15ec6.woff2)
      format("woff2"),
    url(./assets/font/nikeTG/257c802f-349c-4b4d-aefa-546d5de15ec6.woff)
      format("woff"),
    url(./assets/font/nikeTG/257c802f-349c-4b4d-aefa-546d5de15ec6.ttf)
      format("truetype"),
    url(./assets/font/nikeTG/fonts/257c802f-349c-4b4d-aefa-546d5de15ec6.svg#257c802f-349c-4b4d-aefa-546d5de15ec6)
      format("svg");
}

@font-face {
  font-family: "Nike Futura";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/font/NikeFutura/nike-futura-extra-bold-v200.eot),
    url(./assets/font/NikeFutura/nike-futura-extra-bold-v200.eot?#iefix)
      format("embedded-opentype"),
    url(./assets/font/NikeFutura/nike-futura-extra-bold-v200.woff2)
      format("woff2"),
    url(./assets/font/NikeFutura/nike-futura-extra-bold-v200.woff)
      format("woff"),
    url(./assets/font/NikeFutura/nike-futura-extra-bold-v200.ttf)
      format("truetype"),
    url(./assets/font/NikeFutura/fonts/nike-futura-extra-bold-v200.svg#nike-futura-extra-bold-v200)
      format("svg");
}

/********ANIMATION********/

#loaderWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  z-index: 999;
  opacity: 1;
  height: 100vh;
}

#loaderWrapper.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#loader {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#loader img.tesla,
#loader img.nike {
  opacity: 0;
}

#loader img.tesla {
  width: 200px;
  position: absolute;
  top: -100vw;
  left: -120vh;
}

#loader img.nike {
  width: 100px;
  position: absolute;
  top: -100vw;
  right: -120vh;
}

/* Animated state  */

#loader img.tesla.showed {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  transition: all 1s ease-in-out;
}

#loader img.nike.showed {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  transition: all 1s ease-in-out;
}

/********HOME_PAGE********/
/* priska************************************************************************
body {
  background-color: white;
  position: relative;
}

* {
  box-sizing: border-box;
}
*/

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,700i,900&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  background: url("../img/13.png");
  background-repeat: no-repeat;
  background-size: 100vw;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

a,
li,
ul {
  outline: none;
  list-style: none;
  text-decoration: none;
}

a:hover {
  outline: none;
  list-style: none;
  text-decoration: none;
}

a:focus {
  outline: none;
  list-style: none;
  text-decoration: none;
}

span {
  outline: none;
  list-style: none;
  text-decoration: none;
}

span:hover {
  outline: none;
  list-style: none;
  text-decoration: none;
}

span:focus {
  outline: none;
  list-style: none;
  text-decoration: none;
}

button {
  text-decoration: none;
  list-style: none;
  outline: none;
}

button:hover {
  text-decoration: none;
  list-style: none;
  outline: none;
}

button:focus {
  text-decoration: none;
  list-style: none;
  outline: none;
}

/* Start */
/******************************** Navbar **************************************************/

.style-active {
  font-size: 18px;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 255, 255, 1);
}

.header-nav {
  height: 98px;
}

.navigation {
  background-color: white;
  position: fixed;
  /* width: 100%; */
  font-size: 18px;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.logo-nike {
  width: 88px;
  padding-top: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: black;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: black;
  font-size: 24px;
}

.active {
  display: block;
  padding: 0;
}

.fa-bars {
  font-size: 34px;
  padding-top: 10px;
}

.icon-shopping-basket {
  width: 30px;
}

.before-the-shoes {
  display: none;
}

.after-the-shoes {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: gray;
  }

  .icon-shopping-basket {
    width: 20px;
  }
}

/* End Navbar ************************************ */

/* section 1 */

.width {
  height: 100vh;
}

.div-of-the-shoes {
  display: flex;
  justify-content: center;
}

.picture-of-the-air-fly-max {
  max-width: 90%;
  height: auto;
}

.title-div-of-the-shoes {
  display: block;
}

.p-title-shoes {
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.p-price-shoes {
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.p-fly-shoes {
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.div-of-the-button {
  display: flex;
  justify-content: center;
}

.button-add {
  background-color: rgb(0, 112, 187);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-add a {
  color: white;
}

.p-desc-main-page {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.a-desc-link {
  font-family: "Roboto", sans-serif;
}

.div-a-mainpage {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .picture-of-the-air-fly-max {
    max-width: 70%;
    height: auto;
  }
}

@media screen and (min-width: 1250px) {
  /* display none */

  .title-div-of-the-shoes {
    display: none;
  }

  .p-title-shoes {
    display: none;
  }

  .p-price-shoes {
    display: none;
  }

  .p-fly-shoes {
    display: none;
  }

  .div-of-the-button {
    display: none;
  }

  .button-add {
    display: none;
  }

  .button-add a {
    display: none;
  }

  .p-desc-main-page {
    display: none;
  }

  .a-desc-link {
    display: none;
  }

  .div-a-mainpage {
    display: none;
  }

  .div-desc-mainpage {
    display: none;
  }
  /* end display none */

  .section1 {
    display: flex;
    justify-content: space-around;
  }

  .before-the-shoes {
    width: 30%;
    display: flex;
  }

  .picture-of-the-air-fly-max {
    max-width: 100%;
    height: auto;
  }

  .after-the-shoes {
    width: 30%;
    display: flex;
  }

  .title-div-for-airmax {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: white;
  }

  .div-desc-for-the-shoes-mainpage {
    width: 100%;
    text-align: center;
    margin-top: 40%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: white;
  }

  .price-shoes-p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
  }

  .p-lets-fly {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
  }
}

/*

.section1, .section2, .section3 {
  width: 100vw;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: grey;
  opacity: 0.5;
}

.header nav {
  position: absolute;
  top: 80px;
  width: 100%;
}

.menu {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  columns: #131313;
  background-color: white;
  padding: 0;
  list-style: none;
  flex-grow: 1;
  visibility: hidden;
}

.menu-open {
  visibility: visible;
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.burger-menu {
  display: inline-block;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.is-click .bar:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.is-click .bar:nth-child(2) {
  opacity: 0;
}
.is-click .bar:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.product {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  padding: auto;
  border: 1s solid black;
}

.description1 {
  padding: 56px;
  border: 1s solid black;
  text-align: center;
}

.description2 {
  padding: 56px;
  border: 1s solid black;
  text-align: center;
}




/********SENCTION-2********/
.section2 h1 {
  text-align: center;
  font-size: 32px;
  padding: 16px;
}

.section2 .image-functionality1 {
  display: inherit;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  object-fit: cover;
  padding: auto;
}

.section2 .functionality1 {
  text-align: center;
}

.section2 .image-functionality2 {
  display: inherit;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  object-fit: cover;
}

.section2 .functionality2 {
  text-align: center;
}

/********* SECTION-3 ********/

s


/******** FORM-CONTACT ********/

h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 150%;
  font-family: Helvetica, Arial, sans-serif;
}
input[type="submit"] {
  background-color: black;
  color: white;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #fcdede;
  color: black;
}
input[type="submit"]:active,
input[type="reset"]:active {
  box-shadow: 2px 2px 2px rgb(0, 0, 0) inset;
}
input[type="name"] {
  border: 1px solid #000000;
  margin-top: 10px;
}
input[type="email"] {
  border: 1px solid #000000;
  margin-bottom: 10px;
}
textarea[name="bio"] {
  border: 1px solid #000000;
  margin-bottom: 10px;
}
textarea {
  height: 100px;
  resize: none;
}
input,
textarea {
  width: 300px;
  margin-top: 10px;
}
div-input {
  padding-block-start: 20em;
}
form div {
  display: flex;
  justify-content: center;
}

.footer {
  height: 120px;
  background: black;
}

/*******SECTION-3*********/

/* JONATHAN
.article1 {
  position: relative;
  width: 350px;
  height: 300px;
  border: 4mm ridge rgba(171, 169, 172, 0.6);
  grid-column: 1/2;
}
*/

/********MEDIA QUERY********/

@media (min-width: 768px) {
  /*
  section.section1 {
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    grid-auto-rows: 80px 1fr;
    grid-template-areas: "hdr hdr hdr" "desc1 pic desc2";
  }
  header {
    grid-area: hdr;
  }
  .description1 {
    grid-area: desc1;
    justify-self: center;
  }
  .product {
    grid-area: pic;
    justify-self: center;
  }
  .description2 {
    grid-area: desc2;
    justify-self: center;
  }
  */
  section.section2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "img1 txt1" "txt2 img2";
  }
  .imagefunctionality1 {
    grid-area: img1;
    justify-self: center;
  }
  .functionality1 {
    grid-area: txt1;
    justify-self: center;
  }
  .imagefunctionality2 {
    grid-area: img2;
    justify-self: center;
  }
  .functionality1 {
    grid-area: txt2;
    justify-self: center;
  }

  section.section3 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "img1 txt1" "txt2 img2";
  }
  .imagearticle1 {
    grid-area: img1;
    justify-self: center;
  }
  .article1 {
    grid-area: txt1;
    justify-self: center;
  }
  .imagearticle2 {
    grid-area: img2;
    justify-self: center;
  }
  .article1 {
    grid-area: txt2;
    justify-self: center;
  }
}

@media (min-width: 1024px) {
  /*section.section1 {
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    grid-auto-rows: 80px 1fr;
    grid-template-areas: "hdr hdr hdr" "desc1 pic desc2";
  }
  header {
    grid-area: hdr;
  }
  .description1 {
    grid-area: desc1;
    justify-self: center;
  }
  .product {
    grid-area: pic;
    justify-self: center;
  }
  .description2 {
    grid-area: desc2;
    justify-self: center;
  }
  */
  section.section2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "img1 txt1" "txt2 img2";
  }
  .imagefunctionality1 {
    grid-area: img1;
    justify-self: center;
  }
  .functionality1 {
    grid-area: txt1;
    justify-self: center;
  }
  .imagefunctionality2 {
    grid-area: img2;
    justify-self: center;
  }
  .functionality1 {
    grid-area: txt2;
    justify-self: center;
  }

  section.section3 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "img1 txt1" "txt2 img2";
  }
  section.section3 div.article1 .imagearticle1 {
    grid-area: img1;
    justify-self: center;
  }
  div.article1 .article1 {
    grid-area: txt1;
    justify-self: center;
  }
  .imagearticle2 {
    grid-area: img2;
    justify-self: center;
  }
  .article1 {
    grid-area: txt2;
    justify-self: center;
  }
}
