.article1 {
  position: relative;
  width: 350px;
  height: 300px;
  border: 4mm ridge rgba(171, 169, 172, 0.6);
  grid-column: 1/2;
}

.imagearticle1 {
  width: 300px;
  height: 250px;
}

.article2 {
  position: relative;
  width: 350px;
  height: 300px;
  border: 4mm ridge rgba(171, 169, 172, 0.6);
  grid-column: 2/2;
}

.imagearticle2 {
  width: 300px;
  height: 250px;
}
